<launch>
    <!--
    Test at zjg qizhen lake (to-way-points), 2018-7-31
    -->
   <!--
    Parameters
    -->

    <rosparam file="$(find sailing_robot)/launch/parameters/default.yaml" command="load"/>

    <rosparam file="$(find sailing_robot)/launch/parameters/sailsettings_zju.yaml" command="load"/>
    <rosparam file="$(find sailing_robot)/launch/parameters/servos_zju.yaml" command="load"/>

    <rosparam file="$(find sailing_robot)/launch/parameters/zju_qzlake_waypoints.yaml" command="load"/>
    
    <param name="log_name" value="sailingclub_zju" />

    <!--
    Nodes
    -->
    <node name = "serial_node_imu_gps" pkg="pixhawk" type="serial_node_imu_gps" respawn="true"/>

    <node name = "wind_direction_apparent" pkg="sailing_robot" type="wind_direction_apparent" respawn="true"/>

    <node name = "tasks" pkg="sailing_robot" type = "tasks"  respawn="true"/>

    <!--node name = "tack" pkg="sailing_robot" type = "tack"  respawn="true"/-->

    <node name = "helming" pkg="sailing_robot" type="helming" respawn="true" />

    <!--node name = "actuator_demand_sail" pkg="sailing_robot" type = "actuator_demand_sail" respawn="true"/-->
    <!--node name = "actuator_demand_rudder" pkg="sailing_robot" type = "actuator_demand_rudder" respawn="true"/-->

    <node name = "actuator_driver_sail" pkg="sailing_robot" type = "actuator_driver_sail" respawn="true"/>
    <node name = "actuator_driver_rudder" pkg="sailing_robot" type="actuator_driver_rudder"  respawn="true"/>

    <!--node name="debugging_dump_params" pkg='sailing_robot' type="debugging_dump_params"/-->

    <!-- Rosbag records messages for later investigation -->
    <node name="record" pkg="rosbag" type="record" args="-a -o /home/sailing/catkin_wws/sailing-robot/sailingclub_tests/zju"/>

    <!-- Also record GPS data as required by the competition -->
    <!--node name="debugging_gps_log" pkg='sailing_robot' type="debugging_gps_log" respawn="true"/-->

    <!-- Serve an HTML dashboard so we can see what's going on -->
    <!--node name = "debugging_dashboard" pkg="sailing_robot" type = "debugging_dashboard" /-->
</launch>
